/* reset */
*, html, body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;  
    font-family: system-ui, -apple-system Helvetica, Arial, sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}

/* GRID GERAL */
.container {display: grid; grid-template-areas: "h" "m" "s" "f";}

/* CABEÇALHO */
header {
    grid-area: h;
    top: 0;
    left: 0;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
}

.logo {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0;
    cursor: default;
}

nav {
    background-color: rgb(35, 50, 75);
    
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-left: 24px;
}

nav li a,       footer a       {color: white; text-decoration: none; text-transform: uppercase; padding: 1.9vh; transition: all 0.3s ease;}
nav li a:hover, footer a:hover {background-color: rgb(23, 34, 51);}

#buttonEntrar {
    color: white;
    text-decoration: none;
    border: white solid 1px;
    border-radius: 3px;
    padding: 5px 20px;
    transition: all 0.3s ease;
}
#buttonEntrar:hover {background-color: white; color: rgb(31, 62, 102);}

#buttonCadastrar {
    color: white;
    background-color: rgb(68, 124, 202);
    text-decoration: none;
    border: rgb(68, 124, 202) solid 1px;
    border-radius: 2px;
    padding: 5px 10px;
    transition: all 0.3s ease;
}
#buttonCadastrar:hover {background-color: rgb(49, 98, 161); border-color: rgb(49, 98, 161);}


/* RESPONSIVIDADE DO CABEÇALHO */
@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .buttonAccount {
        display: none;
    }

    nav ul {
        position: absolute;
        top: 7vh;
        right: 0;
        width: 50vw;
        height: 93vh;
        background-color: rgb(35, 50, 75);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }

    nav ul li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

nav ul.show {
    transform: translateX(0); 
}

/* RESPONSIVIDADE DA IMAGEM PRINCIPAL  XXXXX ERROR XXXXX
@media (max-width: 700px) {
    main {width: 50%; height: 50vh;}
    
}*/

/* RESPONSIVIDADE DO TÍTULO */
@media (max-width: 700px) {
    #div_titulo #titulo {font-size: 2rem;}
    #div_titulo p {font-size: 15px;}
}

/* INÍCIO */
main {
    /*background: url(../img/img_principal.jpg) no-repeat center center;
    background-size: cover;*/
    background-color: rgb(49, 98, 161);
    height: 93vh;
    grid-area: m;
}

#div_titulo {
    max-width: 700px;
    margin: 200px auto;   
}

#titulo {
    font-family: 'playfar', 'display';
    font-weight: bold;
    font-size: 4rem;
    text-align: left;
    color: white;
    cursor: default;   
}

#div_titulo p {
    color: white;
    cursor: default;
}

/* CONTEÚDO */
section {
    background: linear-gradient(360deg, rgb(255, 255, 255) 60%, rgb(216, 216, 238) 80% , rgb(144, 172, 212)) ;
    width: 100%;
    min-height: 200vh;
    grid-area: s;
    padding: 100px 300px;
}

.grid_conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 200px 20px;
    grid-template-areas: "sob1 img1" "img2 sob2" "sob3 img3";
}

#sobre a {
    color: rgb(27, 35, 61);
    text-decoration: none;
    transition: all 0.3s ease;
}

#sobre a:hover {
    text-decoration: underline;
    color: rgb(68, 124, 202);
}

#sobre h1 {font-size: 7vh; font-family: 'playfar', 'display';}

#sobre_1 {grid-area: sob1; text-align: justify;}
#imagem_1 {grid-area: img1;}

#sobre_2 {grid-area: sob2; text-align: justify;}
#imagem_2 {grid-area: img2;}

#sobre_3 {grid-area: sob3; text-align: justify;}
#imagem_3 {grid-area: img3;}

/* RODAPÉ */
footer {
    background-color: rgb(38, 43, 61);
    width: 100%;
    min-height: 30vh;
    grid-area: f;
}

footer p {
    color: white;
    padding: 50px;
    cursor: default;
}

footer div {
    background-color: rgb(17, 16, 30);
    height: auto;
}

footer div p {
    color: white;
    padding: 20px;
    text-align: center;
    cursor: default;
}

/* MODAL */
.modal {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.modal-content {
    background-color: white;
    box-shadow: 10px 10px rgb(49, 98, 161);
    width: 30%;
    padding: 15px 25px;
    border-radius: 10px;
    position: relative;
}

#modal h1 {
    text-align: center;
    color: black; 
    font-weight: bolder;
    margin: 12px 0 30px 0;
    cursor: default;
}

#modal input {
    width: 100%;
    height: 30px;
    padding: 20px 10px;
    margin: 5px 0 20px 0;
    border-color: rgb(160, 160, 160);
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
}

#modal input:hover {
    box-shadow: 3px 3px 10px rgb(73, 73, 73);
}

.modal-content .img_senha {
    position: absolute;
    top: 68%;
    right: 40px;
    transform: translateY(-50%);
    cursor: pointer;
}

#confirma {
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: rgb(49, 98, 161);
    text-align: center;
    padding: 10px 0 10px 0;
    cursor: pointer;
    transition: all 0.5s ease;
}

#confirma:hover {background-color: rgb(31, 62, 102);}

#cancela {
    color: rgb(49, 98, 161);
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0 20px 0;
    width: 100%;
    border-color: rgb(49, 98, 161);
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    background-color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    cursor: pointer;
    transition: all 0.5s ease;
}

#cancela:hover {background-color: rgb(49, 98, 161); color: white;}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.blur-all {
    filter: blur(3px);
}

/* SCROLLBAR */
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-thumb {width: 5px; background-color: rgb(24, 24, 32); border-radius: 3px;}
